<h3 class="display-3">List of People: {{people.length}}</h3>
<div class="card-container d-flex flex-wrap">
  <div class="row">
    <div *ngFor="let person of people" class="card  border-success col-12
col-sm-6 col-md-4 col-lg-3">
      <div class="card-body">
        <h5 class="card-title">{{ person.name }}</h5>
        <p class="card-text">{{ person.email }}</p>
        <p class="card-text">{{ person.address.city }}</p>
        <p>{{ person.address.zipcode }}</p>
        <div class="card-footer">
          <button class="btn btn-danger" (click)="deleteCard(person)">Delete</button>
        </div>

      </div>
    </div>
  </div>
</div>
